.navElement {
    display: flex;
    margin-top: 4%;
    font-size: 15px;
    max-width: fit-content;
    cursor: pointer;
}

.noLinkStyle {
    text-decoration: none;
    color: inherit;
}

.noLinkStyle:hover {
    text-decoration: none;
    color: inherit;
}