.navBarContainer {
    width: 200px;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #e6f3ff;
    margin-top: 170px;
    margin-left: 340px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 7px;
}