.container {
    outline: 1px solid var(--dark-border);
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 200vw;
    background-color: var(--dark-bg-secondary);
    border-radius: 8px;
    padding: 20px;
}